 <section class="container">

    <section class="about-me">  
        <article  class="about" id="about">
            <div class="about-h">
                <h3 class="text-center about-title">HI THERE !</h3>
            </div>
            <div class="about-p">
                <p class="text-center abaout-text">I'm developper Front-end / Back-end</p>
                <p class="text-center abaout-text">I have a strong passion for anything Web related, mostly developping web applications. Equally enjoy working in the back-end and the front-end. You can Know more about me on scrolling my website</p>
                <p>balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla</p>
            </div>

        </article>

        <!--     Skills    -->
        <section class="skills">
            <ul class="grid cv">
                <li>
                    <figure>
                        <img src="{{ asset('img/skills.png') }}" alt="skills">
                        <figcaption>
                            <h5>Skills</h5>
                            <a href="#popup1">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{{ asset('img/experiences.png') }}" alt="experiences">
                        <figcaption>
                            <h5>Experiences</h5>                                        
                            <a href="#popup2">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{{ asset('img/studies.png') }}" alt="studing">
                        <figcaption>
                            <h5>Studing</h5>                                        
                            <a href="#popup3">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>

            <!-- Popups-->
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Skills</h2>
                    <a class="close" href="#about">&times;</a>
                    <section class="content">
                        Thank to pop me out of that button, but now i'm done so you can close this window.
                        <div class="text-center about-skills"> 
                            <div class="intro-skill">
                                <img src="{{ asset('img/desgni-icon.png') }}" alt="" >
                                <h4>Design</h4>
                                <p>Photoshop - Illustrator</p>
                            </div>
                            <div class="intro-skill">
                                <img src="{{ asset('img/frontend-icon.png') }}" alt="" >
                                <h4>Front-end</h4>
                                <p>HTML5 - CSS - JavaScript</p>             
                            </div>
                            <div class="intro-skill">
                                <img src="{{ asset('img/backend-icon.png') }}" alt=""  >
                                <h4>Back-end</h4>
                                <p>PHP - MySQL - APACHE</p>             
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div id="popup2" class="overlay">
                <div class="popup">
                    <h2>Experiences</h2>
                    <a class="close" href="#about">&times;</a>
                    <div class="content">
                        Thank to pop me out of that button, but now i'm done so you can close this window.
                    </div>
                </div>
            </div>
            <div id="popup3" class="overlay">
                <div class="popup">
                    <h2>Studing</h2>
                    <a class="close" href="#about">&times;</a>
                    <div class="content">
                        Thank to pop me out of that button, but now i'm done so you can close this window.
                    </div>
                </div>
            </div>
        </section>
    </section>

</section>