
<section class="container" id="about">

    
    <section class="about-me ">  
        <!--<div class="my-title">
            <h2>About Me</h2>
        </div>-->
        <!-- About me -->
        
        <article  class="about" >
            <div class="about-title">
                <h3 class="text-center">HI THERE !</h3>
            </div>
            <div class="about-p">
                
                <p class="about-text">I have a strong passion for anything Web related, mostly developping web applications. Equally enjoy working in the back-end and the front-end. </p>
                <!--<p> I'm a creative person, and who is positive about every aspect of life. </p>-->
                <p class="about-text">I am seeking the opportunity to apply myself to the  web developper position to capitalize my professional experience. I look for an ideal prospect, and I now desire a fresh challenge with the possibility of career goals and build upon my success.</p>
                <p class="about-text">If you want to kow more about me keep scrolling!</p>
            </div>

        </article>

        <!--     Skills    -->
        <section class="skills">
        

            <ul class="grid">
                <li>
                    <figure class="mySkills">
                        <img src="{{ asset('build/images/skills2.png') }}" alt="skills">
                        <figcaption>
                            <h2>MY SKILLS</h2>
                            <p>Take a look </p>
                            <a href="#popup1"></a>
                        </figcaption>			
                    </figure>
                </li>
                <li>
                    <figure class="mySkills">
                        <img src="{{ asset('build/images/experiences.png') }}" alt="experiences">
                        <figcaption>
                            <h2>EXPERIENCE</h2>  
                            <p>Take a look </p>                                      
                            <a href="#popup2"></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="mySkills">
                        <img src="{{ asset('build/images/studies.png') }}" alt="studies">
                        <figcaption>
                            <h2>EDUCATION</h2>      
                            <p>Take a look </p>                                  
                            <a href="#popup3"></a>
                        </figcaption>
                    </figure>
                </li>
            </ul>

        </section>
            <!-- Popups-->
            <div id="popup1" class="overlay" >
                <div class="popup">
                    <div class="head-pop">
                        <h2 class="script text-center"><span>Skills</span></h2>
                        <a class="close" href="#about">&times;</a>
                    </div>
                    <section class="contents">
                    
                        <div class="row skills-row ">
                            {% for skill in skills %}
                                <div class="col-sm-2 col-sm-offset-2 skill-list">
                                    <h3 class="skill-header">{{ skill.title }}</h3>
                                    <ul class="skills">
                                        <li class="askill">{{ skill.skills|nl2br}}</li>
                                    </ul>
                                </div>
                            {% endfor %}
                        <div>

                    </section>
                </div>
            </div>

            <div id="popup2" class="overlay">
                <div class="popup">
                    <h2 class="text-center">Experiences</h2>
                    <a class="close" href="#about">&times;</a>
                    <section class="contents">
                        <div id="LineTime">
                            <div class="row timeline-centered">
                                <div class="col-md-12 timelineMAIN-title">
                                    <ul class="timeline timeline-centered">
                                        {% for experience in experiences %}     
                                            <li class="timeline-item">
                                                <div class="timeline-info">
                                                    <span>{{ experience.dateStart}} - {{ experience.dateFinish}}</span>
                                                </div>
                                                <div class="timeline-marker"></div>
                                                <div class="timeline-content">
                                                    <h3 class="timeline-title">{{ experience.title }}</h3>
                                                    <p>{{ experience.company}}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        <li class="timeline-item period">
                                            <div class="timeline-marker"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>                      
                    </section>
                </div>
            </div>

            <div id="popup3" class="overlay">
                <div class="popup">
                    <h2 class="text-center">Studing</h2>
                    <a class="close" href="#about">&times;</a>
                    <section class="contents">
                        <div id="LineTime">
                            <div class="row timeline-centered">
                                <div class="col-md-12 timelineMAIN-title">
                                    <ul class="timeline timeline-centered">
                                        {% for study in studies %}     
                                            <li class="timeline-item">
                                                <div class="timeline-info">
                                                    <span>{{ study.year}}</span>
                                                </div>
                                                <div class="timeline-marker"></div>
                                                <div class="timeline-content">
                                                    <h3 class="timeline-title">{{ study.title }}</h3>
                                                    <p>{{ study.school}}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        <li class="timeline-item period">
                                            <div class="timeline-marker"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>                      

                    </section>
                </div>
            </div>
            
        </section>
    </section>

    <section class="cv-download container text-center">
        <h3>MY FULL Resume </h3>
        <a href="{{ asset('files/otmane-CV.pdf') }}" class="btn-download" target="_blank">
            <span class="circle-d"><i class="fa fa-download"></i></span>
            <span class="title-d">Download</span>
            <span class="d-hover">Click here</span>
        </a>
    </section>

</section>
