 <section class="container">

    <section class="about-me ">  
    
        <!-- About me -->
        <article  class="about" id="about">
            <div class="about-h">
                <h3 class="text-center about-title">HI THERE !</h3>
            </div>
            <div class="about-p">
                
                <p class="about-text">I have a strong passion for anything Web related, mostly developping web applications. Equally enjoy working in the back-end and the front-end. Keep scrolling if you want to see more! </p>
                <!--<p> I'm a creative person, I enjoy being part of a team and i feel conforyable both making decisions and following directions, </p>-->
                <p>balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla balbla</p>
            </div>

        </article>

        <!--     Skills    -->
        <section class="skills">
        

            <ul class="grid">
                <li>
                    <figure class="mySkills">
                        <img src="{{ asset('img/skills.png') }}" alt="skills">
                        <figcaption>
                            <h2>Skills</h2>
                            <p>Take a look </p>
                            <a href="#popup1"></a>
                        </figcaption>			
                    </figure>
                </li>
                <li>
                    <figure class="mySkills">
                        <img src="{{ asset('img/experiences.png') }}" alt="experiences">
                        <figcaption>
                            <h2>Experiences</h2>  
                            <p>Take a look </p>                                      
                            <a href="#popup2"></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="mySkills">
                        <img src="{{ asset('img/studies.png') }}" alt="studies">
                        <figcaption>
                            <h2>Studing</h2>      
                            <p>Take a look </p>                                  
                            <a href="#popup3"></a>
                        </figcaption>
                    </figure>
                </li>
            </ul>


            <!-- Popups-->
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Skills</h2>
                    <a class="close" href="#about">&times;</a>
                    <section class="contents">
                       
                        <div class="text-center about-skills"> 
                            <div class="intro-skill ">
                                <img src="{{ asset('img/desgni-icon.png') }}" alt="" >
                                <h4>Design</h4>
                                <p>Photoshop - Illustrator</p>
                            </div>
                            <div class="intro-skill">
                                <img src="{{ asset('img/frontend-icon.png') }}" alt="" >
                                <h4>Front-end</h4>
                                <p>HTML5 - CSS - JavaScript</p>             
                            </div>
                            <div class="intro-skill">
                                <img src="{{ asset('img/backend-icon.png') }}" alt=""  >
                                <h4>Back-end</h4>
                                <p>PHP - MySQL - APACHE</p>             
                            </div>
                        </div>
                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Skills</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    
                                    {% for skill in skills %}  
                                        <tr class="table-light ">
                                            <th scope="row">{{ skill.title }}</th>
                                            <td>{{ skill.skills}}</td>
                                        </tr>
                                    {% endfor %}
                                    
                              </tbody>
                            </table> 
                        </div>
                    </section>
                </div>
            </div>

            <div id="popup2" class="overlay">
                <div class="popup">
                    <h2>Experiences</h2>
                    <a class="close" href="#about">&times;</a>
                    <div class="content">
                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    
                                    {% for experience in experiences %}  
                                        <tr class="table-light ">
                                            <th scope="row">{{ experience.title }}</th>
                                            <td>{{ experience.company}}</td>
                                            <td>{{ experience.dateStart}} - {{ experience.dateFinish}}</td>
                                        </tr>
                                    {% endfor %}
                                    
                              </tbody>
                            </table> 
                        </div>
                    </div>
                </div>
            </div>

            <div id="popup3" class="overlay">
                <div class="popup">
                    <h2>Studing</h2>
                    <a class="close" href="#about">&times;</a>
                    <div class="content">
                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">School</th>
                                        <th scope="col">Year</th>
                                        <th scope="col">Country</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    
                                    {% for study in studies %}  
                                        <tr class="table-light ">
                                            <th scope="row">{{ study.title }}</th>
                                            <td>{{ study.school}}</td>
                                            <td>{{ study.year}}</td>
                                            <td>{{ study.country}}</td>
                                        </tr>
                                    {% endfor %}
                                    
                              </tbody>
                            </table> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

</section>