
<section class="container" id="about-content">

    <section class="about-me ">  
    
        <!-- About me -->
        <article  class="about" id="about">
            <div class="about-h">
                <h3 class="text-center about-title">HI THERE !</h3>
            </div>
            <div class="about-p">
                
                <p class="about-text">I have a strong passion for anything Web related, mostly developping web applications. Equally enjoy working in the back-end and the front-end. </p>
                <!--<p> I'm a creative person, and who is positive about every aspect of life. </p>-->
                <p class="about-text">I am seeking the opportunity to apply myself to the  web developper position to capitalize my professional experience. I look for an ideal prospect, and I now desire a fresh challenge with the possibility of career goals and build upon my success.</p>
                <p class="about-text">If you want to kow more about me keep scrolling!</p>
            </div>

        </article>

        <!--     Skills    -->
        <section class="skills">
        

            <ul class="grid">
                <li>
                    <figure class="mySkills">
                        <img src="{{ asset('img/skills2.png') }}" alt="skills">
                        <figcaption>
                            <h2>MY SKILLS</h2>
                            <p>Take a look </p>
                            <a href="#popup1"></a>
                        </figcaption>			
                    </figure>
                </li>
                <li>
                    <figure class="mySkills">
                        <img src="{{ asset('img/experiences.png') }}" alt="experiences">
                        <figcaption>
                            <h2>WORK EXPERIENCE</h2>  
                            <p>Take a look </p>                                      
                            <a href="#popup2"></a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="mySkills">
                        <img src="{{ asset('img/studies.png') }}" alt="studies">
                        <figcaption>
                            <h2>EDUCATION</h2>      
                            <p>Take a look </p>                                  
                            <a href="#popup3"></a>
                        </figcaption>
                    </figure>
                </li>
            </ul>


            <!-- Popups-->
            <div id="popup1" class="overlay" >
                <div class="popup">
                    <h2 class="script text-center"><span>Skills</span></h2>
                    <a class="close" href="#about-content">&times;</a>
                    <section class="contents">
                    

                        
                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Skills</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    
                                    {% for skill in skills %}  
                                        <tr class="table-light ">
                                            <th scope="row">{{ skill.title }}</th>
                                            <td>{{ skill.skills}}</td>
                                        </tr>
                                    {% endfor %}
                                    
                            </tbody>
                            </table> 
                        </div>
                    </section>
                </div>
            </div>

            <div id="popup2" class="overlay">
                <div class="popup">
                    <h2 class="text-center">Experiences</h2>
                    <a class="close" href="#about-content">&times;</a>
                    <section class="contents">
                        <div id="LineTime">
                            <div class="row timeline-centered">
                                <div class="col-md-12 timelineMAIN-title">
                                    <ul class="timeline timeline-centered">
                                        {% for experience in experiences %}     
                                            <li class="timeline-item">
                                                <div class="timeline-info">
                                                    <span>{{ experience.dateStart}} - {{ experience.dateFinish}}</span>
                                                </div>
                                                <div class="timeline-marker"></div>
                                                <div class="timeline-content">
                                                    <h3 class="timeline-title">{{ experience.title }}</h3>
                                                    <p>{{ experience.company}}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        <li class="timeline-item period">
                                            <div class="timeline-marker"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>                      
                    </section>
                </div>
            </div>

            <div id="popup3" class="overlay">
                <div class="popup">
                    <h2 class="text-center">Studing</h2>
                    <a class="close" href="#about-content">&times;</a>
                    <section class="contents">
                        <div id="LineTime">
                            <div class="row timeline-centered">
                                <div class="col-md-12 timelineMAIN-title">
                                    <ul class="timeline timeline-centered">
                                        {% for study in studies %}     
                                            <li class="timeline-item">
                                                <div class="timeline-info">
                                                    <span>{{ study.year}}</span>
                                                </div>
                                                <div class="timeline-marker"></div>
                                                <div class="timeline-content">
                                                    <h3 class="timeline-title">{{ study.title }}</h3>
                                                    <p>{{ study.school}}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        <li class="timeline-item period">
                                            <div class="timeline-marker"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>                      

                    </section>
                </div>
            </div>
            
        </section>
    </section>

</section>
