<section id="contact" class="container text-center">
    <h2 class="form-title ">Get In Touch.</h2>
    <div class="info text-center">

        <div class="infos">
            <i class="fa fa-map-marker"></i>
            <p>39000, Lons-le saunier</p>
        </div>

        <div class="infos">
            <i class="fa fa-envelope"></i>
            <p>otmane.ez@outlook.fr</p>
        </div>

        <div class="infos">
            <i class="fa fa-phone"></i>
            <p>+33 644 159 679</p>
        </div>
    </div>

    <div class="row contact">
        
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 ">

            <h3 class="form-title">Or leave me a message</h3 class="form-title">
            <!--<form id="contact-form" name="myForm" class="form" action="#" method="POST" role="form">

                <div class="form-group">
                    <label class="form-label" id="nameLabel" for="name"></label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your name" tabindex="1">
                </div>

                <div class="form-group">
                    <label class="form-label" id="emailLabel" for="email"></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" tabindex="2">
                </div>

                <div class="form-group">
                    <label class="form-label" id="subjectLabel" for="sublect"></label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3">
                </div>

                <div class="form-group">
                    <label class="form-label" id="messageLabel" for="message"></label>
                    <textarea rows="6" cols="60" name="message" class="form-control" id="message" placeholder="Your message" tabindex="4"></textarea>                                 
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-mod btn-border btn-large">Send Message</button>
                </div>

            </form> End form -->

             {{ form_start(form) }}
                
                <div class="form-group">
                    {{ form_row(form.name_exp) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.mail_exp) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.subject) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.message) }}
                </div>
                <div class="text-centre">
                    {{ form_row(form.send) }}
                </div>
                
            {{ form_end(form) }}

        </div>

    </div>
    
</section>

