<section class="portfolio" id="portfolio">
    <div class="container">
        <h3 class="port text-center">Portfolio.</h3>

        <ul class="list-port cs-style-6">
            <li>
                <figure>
                    <img src="{{ asset('img/powerCar.png') }}" alt="img01">
                    <figcaption>
                        <h3>Power Car</h3>
                        <span>Map of charging Stations for Electric cars in France</span>
                        <a href="#">Take a look</a>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="{{ asset('img/memesMaker.png') }}" alt="img03">
                    <figcaption>
                        <h3>Memes Maker</h3>
                        <span>JPG and GIF meme generator</span>
                        <a href="http://otmanee.promo-19.codeur.online/meme-maker/" target="_blank">Take a look</a>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="{{ asset('img/explorer.png') }}" alt="img04">
                    <figcaption>
                        <h3>Files Explorer</h3>
                        <span>online files explorer in PHP</span>
                        <a href="http://otmanee.promo-19.codeur.online/explorer/" target="_blank">Take a look</a>
                    </figcaption>
                </figure>
            </li>
            <li>
                    <figure>
                        <img src="{{ asset('img/1.png') }}" alt="img01">
                        <figcaption>
                            <h3>Camera</h3>
                            <span>Jacob Cummings</span>
                            <a href="#">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{{ asset('img/2.png') }}" alt="img03">
                        <figcaption>
                            <h3>Phone</h3>
                            <span>Jacob Cummings</span>
                            <a href="#">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{{ asset('img/3.png') }}" alt="img04">
                        <figcaption>
                            <h3>Settings</h3>
                            <span>Jacob Cummings</span>
                            <a href="#">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
        </ul>

    </div>
</section>