<section class="portfolio" id="portfolio">
    <div class="container text-center">
    
        <div class="port my-title">
            <h2 class="port text-center">PORTFOLIO.</h2>
        </div>

        <section class="list">
            {% for folio in folios %} 
                <figure class="details"><img src="{{ asset('build/images/folio/') }}{{ folio.img }}.png" alt="portfolio image"/>
                    <figcaption>
                        <h3>{{ folio.title }}</h3>
                        <blockquote>
                            <p> {{ folio.descriptions }} <a  href="{{ folio.url }}" target="_blank"></a> </p>
                        </blockquote>
                    </figcaption>
                </figure>
            {% endfor %}
        </section>

    </div>
</section>